type proc_touchpanel, fs_type;
type dsp_file, fs_type, contextmount_type;

# DT2W
type sysfs_dt2w, sysfs_type, fs_type;

# GPU
type sysfs_kgsl3d, sysfs_type, fs_type;

# Charger
type sysfs_charger, sysfs_type, fs_type;

# KCAL
type sysfs_kcal, sysfs_type, fs_type;

# Thermal
type thermal_file, file_type, data_file_type;
