allow priv_app device:dir r_dir_perms;
allow priv_app fuseblk:dir search;
allow priv_app fuseblk:file r_file_perms;

allow priv_app vfat:dir rw_dir_perms;
allow priv_app vfat:dir create;
allow priv_app vfat:dir { setattr rmdir };
allow priv_app vfat:file rw_file_perms;
allow priv_app vfat:file { create getattr unlink };

allow priv_app ntfs:dir rw_dir_perms;
allow priv_app ntfs:dir create;
allow priv_app ntfs:dir { setattr rmdir };
allow priv_app ntfs:file rw_file_perms;
allow priv_app ntfs:file { create getattr unlink };

allow priv_app exfat:dir rw_dir_perms;
allow priv_app exfat:dir create;
allow priv_app exfat:dir { setattr rmdir };
allow priv_app exfat:file rw_file_perms;
allow priv_app exfat:file { create getattr unlink };

# DT2W
allow priv_app sysfs_dt2w:dir search;
allow priv_app sysfs_dt2w:file { getattr read open };
